<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="/">Reuter News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/saved">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main Header -->
<div class="jumbotron text-center">
  <div class="picHolder"></div>
  <div class="backgroundImage"></div>
  <div class="heading">
    <h1>Your Saved Articles</h1>
  </div>
</div>

{{!-- Article Panels --}}
<div class="container">
  {{#each saved}}
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{this.title}}</h3>
      </div>
      <div class="card-body">
        <p class="card-text">{{this.summary}}</p>
        <a href="{{this.link}}" target="_blank">{{this.link}}</a>
        <form class="navbar-form navbar-right" method="POST" action="/delete/{{this.id}}?_method=PUT">
          <button type="button" class="btn btn-info" data-toggle="modal" id="addNote">Notes</button>

          <button type="submit" class="btn btn-info" id="articleButton">Delete Article</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- This is where the modals go - ran out of time, this is where notes will be added. --}}